<% content_for :header do -%>
Create a new <%= configatron.site_name %> account
<% end -%>

<% content_for :sidebar do -%>
    <%= render "admin/shared/error_messages", :target => @user%>
<% end -%>

<% form_for :user, :url => admin_users_path do |f| -%>
<table class="overview">
<%= cell((f.label :login), (f.text_field :login))%>
<%= cell((f.label :email), (f.text_field :email))%>
<%= cell((f.label :password), (f.password_field :password))%>
<%= cell((f.label :password_confirmation), (f.password_field :password_confirmation))%>

<%= cell("", (submit_tag 'Create account'))%>
<%= cell("", (link_to 'Back', admin_users_path))%>
</table>

<% end -%>

